<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<meta name='author' content='Monish Reddy Kotturu' />
		<link rel='stylesheet' type='text/css' href='/css/simulation.css' />
		<link rel='preconnect' href='https://fonts.gstatic.com' />
		<link
			href='https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap'
			rel='stylesheet'
		/>
		<link rel='icon' href='/img/favicon.png' type='image/png' />
		<title>ARL STRONG UML | Matching you with a teammate...</title>
	</head>

	<body>
		<div id='main-wrapper'>
			<h1 id='wait-text'>Please wait while we match you with a teammate</h1>
		</div>
	</body>

	<script>
		setTimeout(() => { window.location.href = '/simulation'; }, 15069);
	</script>
</html>