<div class="survey">
	<h3>Survey 2</h3>

	<h4>The following questions are intended to gain an understanding of your background relevant to human-robot interaction.</h4>

	<form action="/survey-2-submit" method="POST" name="survey-2" id="survey-2">
		<div class="question">
			<p>What is your gender?</p>
			<div class="options">
				<label for="female"><input type="radio" id="female" name="question1" value="female" onclick="toggleTextInput()">Female</label>
				<label for="male"><input type="radio" id="male" name="question1" value="male" onclick="toggleTextInput()">Male</label>
                <label for="nb"><input type="radio" id="nb" name="question1" value="nb" onclick="toggleTextInput()">Non-binary</label>
                <label for="pd"><input type="radio" id="pd" name="question1" value="pd" onclick="toggleTextInput()">
					Prefer to self-describe:
					<input type="text" name="pdText" id="pdText" class="hideTextArea" placeholder="Please mention" style="display: none;"><sup class="hideTextArea" style="font-size: 11px;color: red; display: none;">&#9733; required</sup>
				</label>
                <label for="pna"><input type="radio" id="pna" name="question1" value="pna" onclick="toggleTextInput()">Prefer not to answer</label>
			</div>	
		</div>

		<div class="question">
			<p>How old are you?</p>
			<div class="options">
				<label for="u20"><input type="radio" id="u20" name="question2" value="u20">Under 20</label>
				<label for="tw1tw5"><input type="radio" id="tw1tw5" name="question2" value="tw1tw5">21-25</label>
				<label for="tw6thrty"><input type="radio" id="tw6thrty" name="question2" value="tw6thrty">26-30</label>
				<label for="th1th5"><input type="radio" id="th1th5" name="question2" value="th1th5">31-35</label>
				<label for="th6frty"><input type="radio" id="th6frty" name="question2" value="th6frty">36-40</label>
                <label for="frt1frt5"><input type="radio" id="frt1frt5" name="question2" value="frt1frt5">41-45</label>
                <label for="frt6ffty"><input type="radio" id="frt6ffty" name="question2" value="frt6ffty">46-50</label>
                <label for="a50"><input type="radio" id="a50" name="question2" value="a50">Above 50</label>
			</div>
		</div>

		<div class="question">
			<p>What is the highest level of education you have completed?</p>
			<div class="options">
				<label for="hs"><input type="radio" id="hs" name="question3" value="hs">High school</label>
				<label for="college"><input type="radio" id="college" name="question3" value="college">College</label>
				<label for="bd"><input type="radio" id="bd" name="question3" value="bd">Bachelor's degree</label>
				<label for="md"><input type="radio" id="md" name="question3" value="md">Master's degree</label>
				<label for="phd"><input type="radio" id="phd" name="question3" value="phd">Doctorate</label>
                <label for="nla"><input type="radio" id="nla" name="question3" value="nla">Not listed above</label>
            </div>
		</div>

		<div class="question">
			<p>How much of your education and/or occupation is related to technology?<br>Rate from 1-7; 1 = not related, 7 = highly related.</p>
			<div class="options smallOptions">
				<label for="fourOne" class="grid-item"><input type="radio" id="fourOne" name="question4" value="one">1</label>
				<label for="fourTwo" class="grid-item"><input type="radio" id="fourTwo" name="question4" value="two">2</label>
				<label for="fourThree" class="grid-item"><input type="radio" id="fourThree" name="question4" value="three">3</label>
				<label for="fourFour" class="grid-item"><input type="radio" id="fourFour" name="question4" value="four">4</label>
				<label for="fourFive" class="grid-item"><input type="radio" id="fourFive" name="question4" value="five">5</label>
                <label for="fourSix" class="grid-item"><input type="radio" id="fourSix" name="question4" value="six">6</label>
                <label for="fourSeven" class="grid-item"><input type="radio" id="fourSeven" name="question4" value="seven">7</label>
			</div>
		</div>

        	<div class="question">
			<p>How much experience have you had working with/using robots in the past?<br>Rate from 1-7; 1 = never, 7 = very often.</p>
			<div class="options smallOptions">
				<label for="fiveOne" class="grid-item"><input type="radio" id="fiveOne" name="question5" value="one">1</label>
				<label for="fiveTwo" class="grid-item"><input type="radio" id="fiveTwo" name="question5" value="two">2</label>
				<label for="fiveThree" class="grid-item"><input type="radio" id="fiveThree" name="question5" value="three">3</label>
				<label for="fiveFour" class="grid-item"><input type="radio" id="fiveFour" name="question5" value="four">4</label>
				<label for="fiveFive" class="grid-item"><input type="radio" id="fiveFive" name="question5" value="five">5</label>
                <label for="fiveSix" class="grid-item"><input type="radio" id="fiveSix" name="question5" value="six">6</label>
                <label for="fiveSeven" class="grid-item"><input type="radio" id="fiveSeven" name="question5" value="seven">7</label>
			</div>
		</div>

		<button id="submit" type="submit" form="survey-2" value="Submit">Submit</button>
	</form>
</div>

<script>
	$(document).ready(() => {
		if (!sessionStorage.getItem('uuid')) window.location.href = '/';
	});
	
	function toggleTextInput() {
		if ($('input[name="question1"]:checked').val() == 'pd') {
			$('.hideTextArea').css('display', 'inline-block');
			$('.hideTextArea').prop('required', true);
		} else {
			$('.hideTextArea').css('display', 'none');
			$('.hideTextArea').val('');
			$('.hideTextArea').prop('required', false);
		}
	}
</script>
