<div class="main-content">
</div>

<p id="show-code-button"></p>
<div class="popup-modal-container">
	<div class="popup-modal" style="padding: 20px 50px;">
		<p style="font-size:25px;font-weight:bold;margin:25px 0;text-align:center;">Thank you for participating!</p>
		<p style="margin:1em 0;max-width:30rem;text-align:center;">You may call the administrator now. Please do not close this window.</p>
	</div>
</div>

<style>
	.popup-modal {
		align-items: initial;
	}

	a {
		color: #9999ff;
	}

	a:hover {
		text-decoration-thickness: 2px;
	}

	#show-code-button {
		position: fixed;
		bottom: 0;
		right: 0;
		z-index: 1000000;
		padding: 0.5rem 1rem;
		background-color: white;
		color: black;
		opacity: 0;
		transition: opacity 0.5s;
	}

	#show-code-button:hover {
		opacity: 1;
	}
</style>

<script>
	const $popupModal = $(".popup-modal-container");

	$(document).ready(() => {
		$.ajax({
			url: '/thank-you',
			type: 'POST',
			data: JSON.stringify({
				uuid: sessionStorage.getItem('uuid'),
				playedOn: window.location.hostname,
			}),
			contentType: 'application/json; charset=utf-8',
			success: (data, status, jqXHR) => {
				console.log(data, status, jqXHR);
			},
			error: (jqXHR, status, err) => {
				console.log(jqXHR, status, err);
				alert(err);
			},
		});
		localStorage.setItem('failedTutorial', false);
		showExit();
		$('#show-code-button').text(sessionStorage.getItem('uuid'));
	});

	function exitGame() {
		window.location.href += '#';
	}

	function showExit() {
		$('#exitBtn').css('background-color', '#252525');
		$popupModal.css('visibility', 'visible');
		$popupModal.css('opacity', '1');
		$('nav').addClass('disabled');
		$('.main-content').addClass('disabled');
	}

	window.onbeforeunload = e => {
		e = e || window.event;
		return 'Are you sure you want to leave?';
	}
</script>