:root {
	--animate-duration: 0.5s !important;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Montserrat', 'sans-serif';
}

.body-container {
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.2s linear, opacity 0.2s linear;
}

.progressbar {
	z-index: 100;
	top: 0;
	width: 100%;
	border-radius: 0 50px 50px 0;
}

.progress {
	background-color: #9999ff;
	color: black;
	text-align: right;
	font-size: 10px;
	border-radius: 0 50px 50px 0;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.background {
	width: 5%;
	transition: 0.3s ease-in-out;
}

.background p {
	padding-right: 5px;
	margin: 0;
}

div,
input,
button,
select {
	font-family: 'Montserrat', 'sans-serif';
	font-size: 13px;
	font-weight: bold;
}

html {
	background-color: #121212;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

::placeholder {
	color: #bbbbbb;
}

:-ms-input-placeholder {
	color: #bbbbbb;
}

::-ms-input-placeholder {
	color: #bbbbbb;
}

.loader {
	display: block;
	opacity: 1;
	position: absolute;
	width: 125px;
	height: 125px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 50%;
	border-top: 5px solid #9999ff;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	transition: visibility 0.2s linear, opacity 0.2s linear;
}

.loader::before,
.loader::after {
	content: '';
	position: absolute;
	border-radius: 50%;
}

.loader::before {
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-top: 5px solid #ff9eae;
	-webkit-animation: spin 3s linear infinite;
	animation: spin 3.5s linear infinite;
}

.loader::after {
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-top: 5px solid #99ffb7;
	-webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.75s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

nav {
	color: white;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 22px;
}

.popup-modal-container {
	visibility: hidden;
	display: none;
	opacity: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #454545;
	width: 97%;
	height: 97%;
	margin: auto;
	overflow-y: scroll;
	border-radius: 7px;
	transition: visibility 0.2s linear, opacity 0.2s linear;
	scroll-behavior: smooth;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
		0 10px 10px rgba(0, 0, 0, 0.22);
}

.popup-modal {
	width: 100%;
}

#exploration-details-modal {
	box-shadow: 0 0 0 9999px #000000AA, 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#exploration-details-modal-content {
	justify-content: space-evenly;
}

#instructions-modal-fp-container {
	width: 100vw;
	height: 100vh;
	position: fixed;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

#instructions-modal {
	width: 28em !important;
	height: auto;
	top: initial;
	bottom: initial;
	left: initial;
	right: initial;
	max-width: 90%;
	max-height: 80%;
	padding: 2rem;
	margin: 2em 2em 2em 2em;
	visibility: visible;
	opacity: 1;
	width: 0;
	overflow: auto;
	z-index: 2;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
		0 10px 10px rgba(0, 0, 0, 0.22);
}

#instructions-modal-content {
	align-items: flex-start;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	overflow: visible;
}

#instructions-heading {
	display: flex;
	margin-bottom: 2rem;
	color: white;
	font-size: 1.5rem;
}

#instructions-content {
	margin-bottom: 2rem;
	color: white;
	font-size: 1rem;
	line-height: 160%;
	width: 100%;
}

#tutorial-loading-circle {
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-left: 1rem;
	border: 2px solid white;
	border-top-color: transparent;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.keysContainer {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.key {
	width: 3em;
	height: 3em;
	border-radius: 7px;
	border: 2px solid white;
	font-size: 24px !important;
	display: flex !important;
	justify-content: center;
	align-items: center;
	background-color: #252525;
}

#trust-confirm-modal {
	width: 50em !important;
	height: max-content !important;
	padding: 0 50px;
	overflow: hidden;
	padding: 3rem;
}

#trust-confirm-modal-content {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	gap: 3rem;
}

#redirectTutorialContainer {
	width: 45em !important;
	height: 20em !important;
	padding: 35px 50px;
	visibility: visible;
	overflow-y: initial;
	opacity: 1;
}

#redirectTutorialContent {
	color: white;
	justify-content: space-evenly;
}

#tutRedTitle {
	text-align: center;
	font-size: 24px;
}

#endRoundQContainer {
	width: fit-content !important;
	height: fit-content !important;
	max-width: 90%;
	max-height: 86%;
	padding: 35px 50px;
	visibility: visible;
	opacity: 1;
}

#endRoundQContent {
	color: white;
}

.optionsContainer {
	width: 100%;
	font-size: 13px;
}

.optionsContainer input {
	margin-right: 1em;
}

.requiredMessage {
	color: red;
	text-align: center;
	display: none;
}

#fourText {
	width: 100%;
	padding: 0.5rem;
}

#mid-tutorial-survey {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

#intervalSurvey {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 2rem;
}

#intervalSurvey .questionContainer {
	margin: 10px 0;
	width: 100%;
}

#q3PromptTitle {
	text-align: center;
	font-size: 30px;
}

.questionContainer h4 {
	margin: 0.5em 0 1em 0;
	font-size: 13px;
	line-height: 160%;
}

.grid-item {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	background-color: rgb(100, 100, 100);
	border-radius: 7px;
	padding: 10px;
	margin: 5px;
}

.tooltip {
	display: inline-block;
	position: relative;
	border-bottom: 1px dotted #666;
	text-align: left;
	vertical-align: middle;
}

.tooltip .right {
	min-width: 200px;
	top: 50%;
	left: 100%;
	margin-left: 1rem;
	transform: translate(0, -50%);
	padding: 1rem;
	color: #000000;
	background-color: #ffffff;
	font-weight: normal;
	font-size: 13px;
	border-radius: 8px;
	position: absolute;
	z-index: 99999999;
	box-sizing: border-box;
	box-shadow: 0 1px 8px transparent;
	display: none;
}

.tooltip:hover .right {
	display: block;
}

.tooltip .right i {
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -12px;
	width: 12px;
	height: 24px;
	overflow: hidden;
}

.tooltip .right i::after {
	content: '';
	position: absolute;
	width: 12px;
	height: 12px;
	left: 0;
	top: 50%;
	transform: translate(50%, -50%) rotate(-45deg);
	background-color: #ffffff;
	box-shadow: 0 1px 8px transparent;
}

.userInputButtons {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#instructions-button {
	margin: 0;
}

.tableItems {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	padding-top: 10px;
	margin: 0 80px;
	border-radius: 7px;
	text-align: center;
	overflow: visible;
	scroll-behavior: smooth;
}

.tableItems p {
	min-height: 14px;
	padding: 10px;
	margin: 0 10px;
	border-radius: 5px;
	font-size: 14px;
	white-space: nowrap;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#simulation {
	height: 100vh;
	display: flex;
	justify-content: right;
	padding: 0 15px;
	align-items: center;
	color: white;
}

#info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 15px 0;
	align-self: flex-start;
}

#legend {
	padding: 20px;
	margin-bottom: 1em;
	background-color: #303030;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	border-radius: 7px;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: repeat(2, 1fr);
	grid-row-gap: 2em;
}

#legend .scoreTitle {
	margin-right: 1em;
}

#legend .score {
	text-align: right;
}

#legend .icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}

#legend .icon svg,
#legend .icon .fillSpan {
	width: 30px;
	height: 30px;
}

#legend>p {
	display: flex;
	align-items: center;
	max-width: 200px;
	font-size: 120%;
}

#gameDetails {
	border-radius: 7px;
	background-color: #303030;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	margin-top: 10px;
}

#gameDetails>div {
	margin: 10px 0;
	text-align: center;
}

#map-container {
	width: 97vh;
	height: 97vh;
	margin-left: 1em;
	overflow: hidden;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	border-radius: 7px;
	--animate-duration: 1s !important;
}

#map-container::-webkit-scrollbar {
	display: none;
}

#terminate {
	margin: 20px 0px;
	font-size: 14px;
	padding: 10px 20px;
}

#scoresAnimationContainer {
	padding: 2rem;
	display: grid;
	grid-template-rows: min-content;
}

.scoresWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

#piggyBanksWrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	align-items: center;
	gap: 2rem;
	text-align: center;
	color: white;
	font-size: 1.5rem;
}

.piggyBankContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	height: 100%;
	align-items: center;
	gap: 2rem;
	border-radius: 7px;
}

.piggyBank {
	min-width: 15rem;
	max-width: 25vw;
	aspect-ratio: 1/1;
	border-radius: 7px;
	background: url('../img/piggybank.svg');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.piggyBankContainer p {
	font-size: 1.5rem;
	color: white;
	margin: 2rem 0;
}

#teamPiggyBank {
	min-width: 20rem;
	max-width: 28vw;
}

#formulaContainer {
	margin: 3rem 5rem;
}

#formula {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	justify-content: center;
}

#formulaHeading {
	font-size: 1.5rem;
	margin-bottom: 3rem;
}

#formula div {
	color: white;
	font-size: 5rem;
	text-align: center;
}

#formula>div {
	padding: 0 1.5rem;
}

.formulaUnderline {
	border-bottom: 2px solid white;
}

/* .highlight {
	border: 1px solid red;
} */

.text-highlight {
	background-color: rgba(255, 255, 0, 0.2);
}

.piggyBankText {
	position: absolute;
}

#animationCaption {
	font-size: 1.25rem;
	margin-bottom: 1rem;
	color: white;
	justify-self: center;
	text-align: center;
}

/* #addToTeamBtn {
	background-color: #F6BE00;
	color: black;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
	animation: glow 1s ease-in-out infinite alternate;
} */

/* glow effect */
@-webkit-keyframes glow {
	0% {
		box-shadow: 0 0 40px #F6BE00;
	}

	100% {
		box-shadow: 0 0 20px #F6BE00;
	}
}

@keyframes glow {
	0% {
		box-shadow: 0 0 40px #F6BE00;
	}

	100% {
		box-shadow: 0 0 20px #F6BE00;
	}
}

.scoresHeading {
	font-size: 2rem;
	margin-bottom: 1rem;
	color: white;
	justify-self: center;
	text-align: center;
}

#map {
	background-color: #252525;
}

@-webkit-keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}

@-webkit-keyframes heartbeat {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}

	10% {
		-webkit-transform: scale(0.91);
		transform: scale(0.91);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	17% {
		-webkit-transform: scale(0.98);
		transform: scale(0.98);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}

	33% {
		-webkit-transform: scale(0.87);
		transform: scale(0.87);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	45% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}

@keyframes heartbeat {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}

	10% {
		-webkit-transform: scale(0.91);
		transform: scale(0.91);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	17% {
		-webkit-transform: scale(0.98);
		transform: scale(0.98);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}

	33% {
		-webkit-transform: scale(0.87);
		transform: scale(0.87);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	45% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}

video {
	background-color: #000;
	border-radius: 7px;
}

input {
	background-color: inherit;
	border: 0px;
	border-bottom: 1px solid white;
	color: white;
}

input[type="radio"] {
	accent-color: #305dc5;
}

button,
select,
option {
	font-family: 'Montserrat', 'sans-serif';
	font-size: 14px;
	margin: 10px;
	padding: 10px 20px;
	box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
	position: relative;
	overflow: hidden;
	background-color: #252525;
	color: white;
	border-radius: 5px;
	border: none;
	outline: 0;
	transition: 0.3s;
}

button:hover,
select:hover,
option {
	background-color: #303030;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	cursor: pointer;
}

button:disabled,
button[disabled],
button[disabled]:hover,
button[disabled]:focus,
button[disabled]:active {
	background-color: #3c3c3c;
	color: #777777;
	cursor: not-allowed;
	box-shadow: none;
}

h1,
h2,
h3,
p {
	margin: 0;
}